.icon-list {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap;
  overflow-x: scroll;
}
@media only screen and (min-width: 800px) {
  .icon-list  {
    justify-content: center;
    flex-wrap: wrap;
  }
}