

.slider {
  overflow-x: scroll;
  display: flex;
  
  
}
.slider::-webkit-scrollbar {
  display: none
}
.button {
  display: none
}

@media only screen and (min-width: 800px) {
  .slider-section {
    display: flex

  }
  .button {
    align-items: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem;
    margin: auto 1rem ;
    color: gray;
    
  }
  .slider {

  overflow-x: hidden;
  width: 600px

  }
}